---
type Props = {
  bgColor?: string;
  borderColor?: string;
  title: string;
  description?: string;
  href?: string;
  buttonText?: string;
  imageSrc?: string;
  imageAlt?: string;
  buttonColor?: string;
  buttonTextColor?: string;
  buttonBorder?: string;
};

const { bgColor, borderColor, title, description, href, buttonText, imageSrc, imageAlt, buttonColor, buttonTextColor ="text-white", buttonBorder = "border-heber-oxblood" } = Astro.props;

const Tag = href ? "a" : "article";
---

  <div class="basis-full md:basis-[calc((100%-1.5rem)/2)] xl:basis-[calc((100%-3rem)/3)]">
    <Tag {...href ? { href } : {}} class:list={["flex h-full flex-col border bg-heber-beige/30 p-6", bgColor, borderColor, href && "block"]}>
  {imageSrc && <img src={imageSrc} alt={imageAlt} class="block aspect-[4/3] w-full object-contain" />}

  <div class="flex flex-1 flex-col">
    <h3 class="mb-3 my-6 text-lg font-bold text-heber-black">{title}</h3>

    <p class="mb-6 flex-1 text-base leading-relaxed text-black/75">
      {description}
    </p>

    {
      buttonText && (
        <span class:list={["bg-heber-oxblood border w-fit inline-flex items-center justify-center rounded-full px-6 pt-2 pb-3 text-base font-medium transition", buttonColor, buttonTextColor, buttonBorder]} >
          {buttonText}
        </span>
      )
    }
  </div>
</Tag>
  </div>


