---
import Button from "./Button.astro";

type Props = {
  title: string;
  description?: string;
  href: string;
  buttonText: string;
  imageSrc?: string;
  imageAlt?: string;
};

const { title, description, href, buttonText, imageSrc, imageAlt = "" } = Astro.props;
---

<article class="flex h-full flex-col border border-black bg-white p-6">
  {imageSrc && <img src={imageSrc} alt={imageAlt} class="block aspect-[4/3] w-full object-cover" />}

  <div class="flex flex-1 flex-col">
    <h3 class="mb-3 my-6 text-lg font-bold text-heber-black">{title}</h3>

    <p class="mb-6 flex-1 text-base leading-relaxed text-black/75">
      {description}
    </p>
    <a
      href={href}
      class="bg-heber-oxblood w-fit text-white inline-flex items-center justify-center rounded-full px-6 pt-2 pb-3 text-base font-medium transition"
    >
      {buttonText}
    </a>
  </div>
</article>
