---
//component imports
import MainLayout from "../../layouts/MainLayout.astro";
import HeroSection from "../../components/sections/HeroSection.astro";
import LogoSlider from "../../components/sections/LogoSlider.astro";
import CardsSection from "../../components/sections/CardsSection.astro";
import Card from "../../components/ui/Card.astro";
import BannerCard from "../../components/sections/BannerCard.astro";
import { heroContent } from "../../data/heroContent";
import Button from "../../components/ui/Button.astro";
import { testimonials } from "../../data/testimonials";

const { title, description } = heroContent.kundehistorier;
---

<MainLayout title="Heber hodejeger | kundehistorier">
  <HeroSection title={title} description={description}>
    <Button href="/kontakt" variant="oxblood">Kontakt meg</Button>
  </HeroSection>

  <section>
    <div class="mx-auto w-full max-w-[1440px] px-4 py-10">
      <h2 class="pb-8 text-center text-2xl font-bold">Dette sier de jeg har jobbet med</h2>

      <div class="flex flex-wrap justify-start gap-6">
        {
          testimonials.map((testimonial) => (
            <article class="flex border border-heber-beige/50  w-full flex-col justify-between bg-heber-beige/10 p-6 md:w-[calc(50%-12px)] xl:w-[calc(33.333%-16px)]">
              <blockquote class="mb-6">
                <p class="text-base leading-relaxed text-heber-black/75 italic before:content-['“'] after:content-['”']">{testimonial.description}</p>
              </blockquote>

              <footer>
                <cite class="not-italic font-medium text-heber-black">{testimonial.author}</cite>
                <p class="mt-1 text-sm text-black/75">{testimonial.jobTitle}</p>
              </footer>
            </article>
          ))
        }
      </div>
    </div>
  </section>

  <LogoSlider />
  <BannerCard
    title="Rekruttering"
    description="Rekrutteringsbehov kan variere. La meg gjerne ta hånd om prosessen fra A-Å, eller kun deler av den. Jeg er fleksibel."
    bgColor="bg-heber-beige/30"
  >
    <Button href="/rekruttering" variant="oxblood">Rekrutteringstjenester</Button>
  </BannerCard>

  <CardsSection>

      <Card
        bgColor="bg-white"
        title="Hvorfor velge meg?"
        description="Velg en rekrutterer som selv har vært i din verden"
        href="hvorfor-velge-meg"
        buttonText="Les mer"
      />

      <Card
        bgColor="bg-white"
        title="Om meg"
        description="Jeg som står bak Heber hodejeger er Anne Marit Heber Nærby. Jeg har over 20 års erfaring fra rekruttering."
        href="/om-meg"
        buttonText="Les mer"
      />

      <Card
        bgColor="bg-white"
        title="Foredrag og workshops"
        href="/foredrag-og-workshops"
        description="Trenger du og din organisasjon tips og triks om hvordan lykkes med rekruttering? Ønsker du å unngå de vanligste feilene man gjør i nyansettelser? Jeg bistår gjerne."
        buttonText="Se mer"
      />

  </CardsSection>
</MainLayout>
